ACCOUNT_PRIVATE_KEY = your account private key
COINMARKETCAP_TOKEN = https://coinmarketcap.com/ 
ETHERSCAN_TOKEN = https://etherscan.io/myapikey
POLYGONSCAN_TOKEN = https://polygonscan.com/
ALCHEMY_TOKEN = https://dashboard.alchemy.com/